<h1>Hello, welcome to dota2matchmaker!</h1>
<p>Helps you counter-pick the other team's heros!</p>

<p>In your browser:</p>

+=======++=======++=======++=======++=======+
|ES     ||LS     ||CM     ||   -   ||   -   |
+=======++=======++=======++=======++=======+

Good counters:
+=======++=======++=======++=======++=======+
|HeroX4%||LS     ||CM     ||   -   ||   -   |
+=======++=======++=======++=======++=======+
+=======++=======++=======++=======++=======+
|HEROY5%||LS     ||CM     ||   -   ||   -   |
+=======++=======++=======++=======++=======+
+=======++=======++=======++=======++=======+
|ES     ||LS     ||CM     ||   -   ||   -   |
+=======++=======++=======++=======++=======+

Bad against:
+=======++=======++=======++=======++=======+
|ES     ||LS     ||CM     ||   -   ||   -   |
+=======++=======++=======++=======++=======+
+=======++=======++=======++=======++=======+
|ES     ||LS     ||CM     ||   -   ||   -   |
+=======++=======++=======++=======++=======+
+=======++=======++=======++=======++=======+
|ES     ||LS     ||CM     ||   -   ||   -   |
+=======++=======++=======++=======++=======+


